<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_payment_import_data_before">
        <observer name="ccpp_sales_quote_payment_import_data_before"
                  instance="Param\CcppCreditCard\Observer\SalesPaymentImportData" />
    </event>
</config>
