<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>parampos</name>
    <displayName><![CDATA[Param POS Payments]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accepts payments with Param POS!]]></description>
    <author><![CDATA[Param]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>