<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ccpp_creditcard>
                <title>Param POS</title>
                <active>1</active>
                <description>Param POS</description>
                <payment_action>initialize</payment_action>
                <payment_expire>1</payment_expire>
                <version>1.7</version>
                <model>CcppCreditCardGateway</model>
                <cctypes>AE,VI,MC,DI,JCB,DN</cctypes>
                <ccfields>x_card_code,x_exp_date,x_card_num</ccfields>
                <payment_url>https://posws.param.com.tr/turkpos.ws/service_turkpos_prod.asmx?wsdl</payment_url>
                <test_payment_url>https://test-dmz.param.com.tr:4443/turkpos.ws/service_turkpos_test.asmx?wsdl</test_payment_url>
                <allowspecific>0</allowspecific>
                <testmode>1</testmode>
                <use_card_name>1</use_card_name>
                <installment>0</installment>
                <useccv>1</useccv>
                <can_initialize>1</can_initialize>
                <can_capture>1</can_capture>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <sort_order>10</sort_order>
                <currency_no>949</currency_no>
                <currency>TRY</currency>
            </ccpp_creditcard>
        </payment>
    </default>
</config>